:root {
    --gradient1-darker: rgb(28, 34, 34);
    --gradient1-dark: rgb(25, 50, 40);
    --gradient1-bright: rgb(51, 101, 81);
    --gradient1-brighter: rgb(103, 202, 141);
    --gradient2-darker: rgb(28, 33, 34);
    --gradient2-dark: rgb(25, 50, 46);
    --gradient2-bright: rgb(51, 101, 100);
    --gradient2-brighter: rgb(103, 202, 197);
    --list-width: 300px;
}

body {
    margin: 0;
    font-family: 'Teko', sans-serif;
}

.bg-tile {
    width: 100vw;
    height: 100vh;
    background-image: url("./assets/images/bg-texture.png");
    position: fixed;
    background-size: 10px;
    opacity: 0.07;
}

.bg-gradient {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(180deg, var(--gradient2-darker), var(--gradient2-dark));
    position: fixed;
}

.banner {
    position: fixed;
    left: 0;
    right: 0;
    height: 40px;
    color: yellow;
    z-index: 100;
    background: black;
    border-bottom: 2px solid var(--gradient1-brighter);
}

.banner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

.banner-title {
    font-size: 2rem;
}

.item-list-scrollview {
    background: black;
    position: relative;
    width: var(--list-width);
    border-right: 2px solid var(--gradient1-brighter);
    border-left: 2px solid var(--gradient1-brighter);
    padding-bottom: 60px;
    padding-top: 30px;
}

#loading-spinner {
    color: white;
    position: absolute;
    left: 40%;
    top: 30%;
    font-size: 3rem;
    animation: loading-animation 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes loading-animation {
    0% {rotate: 0deg;}
    100% {rotate: 360deg;}
}

.item-list {
    padding: 20px;
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 200px;
    position: relative;
}

.item {
    background-image: linear-gradient(180deg, var(--gradient2-darker), var(--gradient2-dark));
    color: var(--gradient1-brighter);
    border: 2px solid var(--gradient1-brighter);
    border-radius: 20px;
    padding: 15px;
    position: relative;
    z-index: 1;
}

.item h2,
.item ul {
    pointer-events: none;
}

.item h2 {
    margin-top: 0;
}

.item ul {
    list-style: none;
    margin-left: 0;
    padding-inline-start: 10px;
}

.item ul span {
    letter-spacing: 1.3px;
    margin-left: 6px;
}

.list-container {
    display: flex;
    gap: 20px;
    min-height: 100vh;
    /* height: 100vh; */
    /* overflow: hidden; */
    justify-content: space-between;
}

/* .sortButton {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 95%;
    z-index: 100;
} */

.sortButton {
    width: 70px;
}

.dashboard {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 46px;
    z-index: 100;
    min-height: 0;
    background: black;
    padding: 10px;
    border-top: 2px solid var(--gradient1-brighter);
}

.dashboard-panel {
    display: flex;
    gap: 20px;
    align-items: center;
}

.collection-sum {
    color: yellow;
    text-align: center;
    font-size: 1.9rem;
}

.transition {
    transition: 0.25s;
    /* transition-timing-function: linear; */
}

@media screen and (max-width: 768px) {
    :root {
        --list-width: 200px;
    }

    .item ul span {
        display: block;
    }

    .item-list {
        padding-left: 8px;
        padding-right: 8px;
    }

    .item {
        padding-left: 8px;
        padding-right: 8px;
    }

    .item-list-scrollview {
        width: 200px;
    }
}

@media screen and (max-width: 420px)
{
    .dashboard-panel {
        gap: 6px;
    }

    .collection-sum {
        font-size: 1.2rem;
    }
}